<br>
<h5>Recintos</h5>
<div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-right">Tipo Recinto</th>
          <th class="text-right">Nombre</th>
          <th class="text-right">Dirección</th>
          <th class="text-right">Número</th>
          <th class="text-right">Comuna</th>
          <th class="text-right">Ciudad</th>
          <th class="text-right">Región</th>
          <th class="text-right">País</th>
          <th class="text-right">Ubicación</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @recintos.each do |recinto| %>
          <tr>
            <td class="text-right"><%= recinto.tipo_propiedad.name %></td>
            <td class="text-right"><%= recinto.nombre %></td>
            <td class="text-right"><%= recinto.direccion_recinto %></td>
            <td class="text-right"><%= recinto.numero_recinto %></td>
            <td class="text-right"><%= recinto.comuna_recinto %></td>
            <td class="text-right"><%= recinto.ciudad_recinto %></td>
            <td class="text-right"><%= recinto.region_recinto %></td>
            <td class="text-right"><%= recinto.pais_recinto %></td>
            <td class="text-right"><%= recinto.ubicacion_recinto %></td>

            <td><%= link_to 'Mostrar', recinto, class:'btn btn-outline-success btn-sm' %></td>

            <% if can?(:edit, recinto) %>
              <td><%= link_to 'Editar', edit_recinto_path(recinto), class:'btn btn-outline-warning btn-sm' %></td>
            <% end %>
            <% if can?(:destroy, recinto) %>
              <td><%= link_to 'Borrar', recinto, method: :delete, data: { confirm: 'Estás seguro?' } , class:'btn btn-outline-danger btn-sm'%></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<br>
<% if can?(:create, @recinto) %>
<%= link_to 'Nuevo Recinto', new_recinto_path, class:'btn btn-outline-primary btn-sm' %>
<% end %>
