<br>
<div class="container">
 <div class="row">
     <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"><h6><%= @recinto.pais_recinto %></h6></div>
     <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"><h6><%= @recinto.tipo_propiedad.name %></h6></div>
     <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"><h6><%= @recinto.nombre %></h6></div>
 </div>

 <div class="row">
     <div class="col-sm-12 col-md-4 col-lg-2 col-xl-2"><class="pull-right"><strong>Dirección:</strong> <%= @recinto.direccion_recinto%></div>
     <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2"><class="pull-right"><strong>Número:</strong> <%= @recinto.numero_recinto  %></div>
     <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2"><class="pull-right"><strong>Región:</strong> <%= @recinto.region_recinto %></div>
     <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2"><class="pull-right"><strong>Ciudad:</strong> <%= @recinto.ciudad_recinto %></div>
     <div class="col-sm-6 col-md-2 col-lg-4 col-xl-4"><class="pull-right"><strong>Comuna:</strong> <%= @recinto.comuna_recinto %></div>
 </div>
</div>
<br>
<!-- <p>
  <strong>recinto</strong>
  <%= @recinto.tipo_propiedad.name %>
</p
<p>
  <strong>nombre</strong>
  <%= @recinto.nombre %>
</p>
<p>
  <strong>dirección</strong>
  <%= @recinto.direccion_recinto %>
</p>
<p>
  <strong>número</strong>
  <%= @recinto.numero_recinto %>
</p>
<p>
  <strong>comuna</strong>
  <%= @recinto.comuna_recinto %>
</p>
<p>
  <strong>ciudad</strong>
  <%= @recinto.ciudad_recinto %>
</p>
<p>
  <strong>región</strong>
  <%= @recinto.region_recinto %>
</p>
<p>
  <strong>país</strong>
  <%= @recinto.pais_recinto %>
</p> -->

<% if can?(:create, @recinto) %>
    <%= form_with(model: [@recinto, Propiedad.new], local: true) do |form| %>
    <!--  <%= form.hidden_field :id_recinto, value: @recinto.id %> -->
    <%= form.hidden_field :recinto_id, value: @recinto.id %>
        <div class="field">
          <%= form.label :dirección %>
          <%= form.text_field :direccion, id: :propiedad_direccion %>
        </div>

        <div class="field">
          <%= form.label :número %>
          <%= form.text_field :numero, id: :propiedad_numero %>
        </div>

        <div class="field">
          <%= form.label :departamento %>
          <%= form.text_field :departamento, id: :propiedad_departamento %>
        </div>

        <div class="field">
          <%= form.label :rol %>
          <%= form.text_field :rol, id: :propiedad_rol %>
        </div>

        <div class="field">
          <%= form.label :mt %>
          <%= form.text_field :mt, id: :propiedad_mt %>
        </div>

        <div class="field">
          <%= form.label :coeficiente %>
          <%= form.text_field :coeficiente, id: :propiedad_coeficiente %>
        </div>

        <div class="field">
          <%= form.label :tipo_propiedad %>
          <%= form.text_field :tipo_propiedad, id: :propiedad_tipo_propiedad %>
        </div>

        <div class="field">
          <%= form.label :torre %>
          <%= form.text_field :torre, id: :propiedad_torre %>
        </div>

        <!-- <div class="field">
          <%= form.label :user_id %>
          <%= form.text_field :user_id, id: :propiedad_user_id %>
        </div> -->

        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
      <%= link_to 'Editar', edit_recinto_path(@recinto), class:'btn btn-outline-primary btn-sm' %>
       <br> <br>
  <% end %>


  <%= link_to 'Volver', recintos_path, class:'btn btn-outline-primary btn-sm' %>
   <br> <br>
