<!-- Nueva sesión -->
<div class="container mt-0">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 login-form">
          <a class="navbar-brand" href="<%= root_path %>">
          <%= image_tag "Loan-against-Property.png", with: "30", height: "30", class: "d-inline-block align-top" %> ADMPROP</a>
          <div class="panel-heading">
            <h5 class="panel-title">Iniciar Sesión</h5>
          </div>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <fieldset>
                <div class="form-group">
                     <%= f.email_field :email, autofocus: true, placeholder: "Correo_electrónico", class: "form-control" %>
                </div>
                <div class="form-group">
                     <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña", class: "form-control" %>
                </div>
                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :Recuerdame %>
                  </div>
                <% end %>

                <%= f.submit "Iniciar Sesión", class: "btn btn-lg btn-success btn-block" %>
                <%= render "devise/shared/links" %>
              </fieldset>
            <% end %>
          </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<br><br>
