<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ADMPROP</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </head>
  <body>
    <section class="container-fluid slider d-flex justify-content-center align-items-center">
      <h4 class="display-6 text-white border-white"> Una nueva experiencia en la administración de Condominios </h4>
    </section>
    <!-- menú de navegación -->
    <%= render 'layouts/sidebar' %>

    <div class="container">
      <% if notice %>
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h6>Información</h6>
          <p><%= notice %></p>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h6>Atención</h6>
          <p><%= alert %></p>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <!-- Inicio Footers-->
    <br>    <br>
    <!--Footer pie de pagina-->
        <footer>
            <div class="container">
               <div class= "container1"></div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 container_final_izq">
                     <div class="datosdecontacto">DATOS DE CONTACTO</div>
                      <div class="address"><span class="green">Dirección:<br></span>Badajoz 100, Las Condes,
                        <br>Santiago de Chile
                        <br>
                        <br><span class="green">Teléfono:</span>
                        <br>+56 2 22298341
                        <br>
                        <br><span class="green">Email:<br></span>info@admprop.cl</div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 container_final_der">
                        <p>
                         CONTACTANOS<br>
                        </p>
                           <input class="campo" data-name="Nombre" id="Nombre" maxlength="100" name="Nombre" placeholder="Ingresa tu Correo.." type="text" style="height: 34px; width: 254px; color:green">
                           <p style="margin-top:10px"><a href="#" class="btn btn-primary" role="button">Enviar</a></p>
                          <div id="rs">
                          <img src="https://clik-eidos1.netdna-ssl.com/wp-content/themes/cliki2016/images/redes.gif" style="margin-right: 20px;" usemap="#Map" align="top" border="0">
                          </div>
                    </div>
                </div>
                <div class= "container1"></div>
                <!--localizacion-->
               <div class= "container">
                <div class="row">
                  <p style="margin-top:10px ; text-align: center">COMO LLEGAR<br></p>
                     <iframe class = "embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.578894951663!2d-70.57492268535542!3d-33.408148880786044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cedf6ce36ba5%3A0x350ac5e90b49705b!2sBadajoz+100%2C+Las+Condes%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1sen!2scl!4v1496358705241" width="100%" height="250" text-align = "center" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
               </div>
              <div class= "container">
                <div class="row">
                           <p style="margin-top:10px ; background-color:black; color:white; text-align: center">
                           <span class="glyphicon glyphicon-leaf" style="color:green"></span>
                              Admprop Chile - Derechos reservados - 2017 | Políticas de privacidad.
                           </p>
                </div>
                </div>
            </div>
        </footer>
    <!-- Fin Footers-->
  </body>
</html>
